---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  author: CollectionEntry<'author'>;
}

const { author } = Astro.props;

const { avatar, bio, github, name, linkedIn, subtitle, twitter } = author.data;
---

<div class="max-w-lg mx-auto bg-white rounded-lg shadow-md p-5">
  <Image
    src={avatar}
    width="200"
    height="200"
    class="w-32 h-32 rounded-full mx-auto"
    alt="Profile picture"
  />
  <h2 class="text-center text-2xl font-semibold mt-3">{name}</h2>
  <p class="text-center text-gray-600 mt-1">{subtitle}</p>
  <div class="flex justify-center mt-5">
    <a
      href={`https://x.com/${twitter}`}
      class="text-blue-500 hover:text-blue-700 mx-3">Twitter</a
    >
    <a href={linkedIn} class="text-blue-500 hover:text-blue-700 mx-3"
      >LinkedIn</a
    >
    <a href={github} class="text-blue-500 hover:text-blue-700 mx-3">GitHub</a>
  </div>
  <div class="mt-5">
    <h3 class="text-xl font-semibold">Bio</h3>
    <p class="text-gray-600 mt-2">
      {bio}
    </p>
    <div class="flex justify-end">
      <a href={`/blog/${author.id}`}>Leer más</a>
    </div>
  </div>
</div>
